
  <nav>
    <div class="nav-wrapper teal lighten-4">
      <ul class="right hide-on-med-and-down teal lighten-4">
        <li><%= link_to 'New Patient', new_patient_path, class: "waves-effect waves-light btn" %></li>
        <li><%= link_to 'Doctors', doctors_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>